#### Date and Time

In [1]:
from datetime import date, datetime, timedelta, timezone
import time

In [2]:
#Today's date
today = date.today()
today

datetime.date(2023, 10, 17)

In [3]:
type(today)

datetime.date

In [4]:
#String formatted date
today.ctime()

'Tue Oct 17 00:00:00 2023'

In [5]:
today.isoformat()

'2023-10-17'

In [6]:
#Monday - 0, Tuesday - 1, Wednesday - 2, ........
today.weekday()

1

In [7]:
today.day, today.month, today.year

(17, 10, 2023)

In [8]:
today.timetuple()

time.struct_time(tm_year=2023, tm_mon=10, tm_mday=17, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=290, tm_isdst=-1)

In [9]:
#Using time library
time.ctime()

'Tue Oct 17 04:50:42 2023'

In [9]:
time.gmtime()

time.struct_time(tm_year=2023, tm_mon=6, tm_mday=19, tm_hour=8, tm_min=34, tm_sec=50, tm_wday=0, tm_yday=170, tm_isdst=0)

In [10]:
time.localtime()

time.struct_time(tm_year=2023, tm_mon=6, tm_mday=19, tm_hour=8, tm_min=34, tm_sec=53, tm_wday=0, tm_yday=170, tm_isdst=0)

In [10]:
#Using datetime

now = datetime.now()
now

datetime.datetime(2023, 10, 17, 4, 51, 18, 445124)

In [11]:
now.date()

datetime.date(2023, 10, 17)

In [12]:
now.time()

datetime.time(4, 51, 18, 445124)

In [13]:
now.weekday()

1

In [14]:
#Operations on datetime object

bday = datetime(1989, 3, 28)
bday

datetime.datetime(1989, 3, 28, 0, 0)

In [15]:
now

datetime.datetime(2023, 10, 17, 4, 51, 18, 445124)

In [16]:
days = now - bday
days.days

12621

#### The Collection Module

https://docs.python.org/3/library/collections.html

In [23]:
#lets say I have a list
my_list = [1, 2, 1, 2, 3, 4, 1, 1, 'python', 'python', 'java', 'dbms']

#Can you tell me the frequency of each unique element in the above list
from collections import Counter

my_frequency_counter = Counter(my_list)
my_frequency_counter

Counter({1: 4, 2: 2, 3: 1, 4: 1, 'python': 2, 'java': 1, 'dbms': 1})

In [24]:
#highest frequency element and its frequency
my_frequency_counter.most_common(1)

[(1, 4)]

In [25]:
#highest frequency element and its frequency, second highest too
my_frequency_counter.most_common(2)

[(1, 4), (2, 2)]

Exercise :
    Write a program which takes in user's input as his name, date of birth, profession and qualification. 
    
    1. Assuming there are such 100 users please design a proper application by choosing the right set of data types for 
       all user records and how are you going to store their details individually. 
    2. Also extend the program to take in the user's input as his name and return his age

In [35]:
records = dict()

In [38]:
username = str(input('Enter your name: '))
dob = str(input('Enter DOB (yyyy-mm-dd): '))
profession = str(input('Enter Profession: '))
qualification = str(input('Enter qualification: '))

records[username] = [dob, profession, qualification]

records

Enter your name:  GHI
Enter DOB (yyyy-mm-dd):  1995-05-07
Enter Profession:  Doctor
Enter qualification:  MBBS

{'XYZ': ['1996-04-18', 'Engineer', 'BE'],
 'DEF': ['1990-12-12', 'Engineer', 'BE'],
 'GHI': ['1995-05-07', 'Doctor', 'MBBS']}

In [42]:
get_user = str(input('Enter username: '))

records[get_user][0]

Enter username:  XYZ

'1996-04-18'

In [44]:
import pandas as pd
datetime.now() - pd.to_datetime('1996-04-18')

Timedelta('9861 days 08:06:03.841453')